<% content_for(:body_class, "home") %>
<% content_for(:body_id, "index") %>
<% content_for :meta do %>
  <meta name="description" content="NyaBy(ニャーバイ)はデートスポットや穴場スポットインスタ映えスポットなどを現在位置から検索できるサービスです。" />
  <meta name="keywords" content="" />
<% end %>

<section  class="row" id="kv">
  <div class="text-center mb-0 container">
    <h1 class="">つぎ、どこいく？</h1>
    <h2>ニャーバイ</h2>
    <%= image_tag('logo.png', class: 'main_logo') %>
      
    <%= form_tag location_path, method:'get', class: 'col-md-7 col-lg-5 mr-auto ml-auto', id: 'homeForm' do %>
      <div class="select_wrap mb-4" id="categoryWrap">
        <%= collection_select('', :category_id, Category.all, :id, :name, {prompt: "カテゴリーを選択してください", include_blank: '全カテゴリー'}, { class: 'form-control', id: 'category-field' } ) %>
      </div>
      <%= button_tag('現在地周辺のスポットを探す', class: 'button_m btn_border hover mr-auto ml-auto') %>
    <% end %>

  </div>
</section>

<section class="bg-gray row area">
  <div class="container">
    <h1 class="text-center">新着スポット</h1>
    <ul id="" class="mr-auto ml-auto col-5">
      <% @spots.each do |spot| %>
        <li><a href="<%= spot_path(spot) %>"><%= spot.name %></a></li>
      <% end %>
    </ul>
  </div>
</section>



<section class="home">
  
  <h1>新着の口コミ</h1>
  
  <% if @reviews.any? %>
    <ul class="review-list">
      <% @reviews.each do |review| %>
        <%= render '/reviews/review', review: review %>
      <% end %>
    </ul>
  <% else %>
    <p>口コミはまだありません。</p>
  <% end %>
  
  <h1>コラム</h1>
  
  <ul class="article-list">
    <% @parsed_articles.each do |article| %>
      <li>
        <a href="<%= article['link'] %>"><%= article['title']['rendered'] %></a>
        <% if article['_embedded']['wp:featuredmedia'].present? %>
          <a href="<%= article['link'] %>"><img src="<%= article['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']['source_url'] %>" /></a>
        <% end %>
        <%= article['content']['rendered'].html_safe %>
      </li>
    <% end %>
  </ul>
  
  
</section>
