<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) + ' | NyaBy(ニャーバイ) デートスポット検索' : 'NyaBy(ニャーバイ) | デートスポット検索' %></title>
    <%= yield(:meta) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main role="main">
      <article class="main-content">
        <div class="container">
          <%= render 'layouts/flash_messages' %>
        </div>
        <%= yield %>
      </article>
    </main>
    
    <% unless controller.controller_name == 'spots' && controller.action_name == 'location' %>
      <footer>
        <%= render 'layouts/footer' %>      
      </footer>
    <% end %>

  </body>
  
</html>
